@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: black;
	margin: 0px;
	padding: 0px;
}
#body {
	position: relative;
}
input {
	border: 1px solid black;
	color: black;
	padding: 7px;
	font-size: 14px;
}
.flashmsg {
	text-align: center;
	padding: 5px;
	color: white;
}
.flash-neutral {
	background: #8F0;
}
.flash-good {
	background: #0A0;
}
.flash-bad {
	background: #A00;
}

